p {
  color: blue;
  background-color: #fcf9d9;
  margin-left: 30px;
}

li,
ul {
  margin-left: 30px;
}

h1 {
  /* On veut mettre un cadre coloré au titre. */
  border-color: rgb(40, 200, 100);
  /* Par défaut, le cadre est invisible ; on le rend visible. */
  border-style: solid;
  /* On centre le texte dans le cadre. */
  text-align: center;

  margin: auto;

  width: 80%;

  max-width: calc(100% - 40px);
}

#selector a {
  color: red;
}

#selector a[href*="http"] {
  color: green;
}

#selector a[href*="mail"] {
  color: cyan;
}

h2:hover {
  color: blue;
}

h1:hover {
  color: red;
}

p :hover {
  color: green;
}

blockquote::before {
  content: '"';
  color: blueviolet;
}

blockquote::after {
  content: '"';
  color: blueviolet;
}

blockquote {
  background-color: cadetblue;
}

h2 {
  margin-top: 30px;
}

#avatar {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 10px 10px;
}

.bulle {
  opacity: 0;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
}

.bulle:hover {
  opacity: 1;
}

.bulle:has(+ #avatar:hover) {
  opacity: 1;
}

main {
  width: 80%;
  margin-top: 40px;

  max-width: 1000%;
}

/**
 * Navbar
*/
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1px;
}

nav li {
  margin-left: 0px;
}

nav {
  text-align: start;
}

.td-link {
  background-color: rgb(0, 132, 255);
  padding: 30px;
  border-radius: 0 5px 15px 5px;
}

nav div,
li {
  text-decoration: none;
  display: inline-block;
}

nav li:last-child a {
  background-color: rgb(255, 179, 0);
}

nav li:hover .bulle {
  opacity: 1;
}

.submenu {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.submenu li {
  display: block;
  margin: 0;
  margin-top: 10px;
  padding: 5px;
}

.submenu {
  background-color: rgb(0, 132, 255);
  margin-top: 30px;
}

.submenu li:hover {
  color: aliceblue;
  border-radius: 10px;
  background-color: rgb(0, 86, 166);
}

@media (max-width: 600px) {
  code,
  pre {
    font-size: 10px;
  }

  pre {
    overflow-x: scroll;
  }

  p,
  ul {
    margin-left: 10px;
  }

  nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  nav a {
    text-align: center;
    border-radius: 5px;
  }

  nav a {
    display: block; /* Important : passage en block */
    width: 100%;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box; /* Évite les débordements avec le padding */
  }

  section,
  main,
  img,
  h1 {
    width: 90vw;
  }

  body {
    margin-right: 0;
  }
}
