p {
  color: blue;
  background-color: #fcf9d9;
  margin-left: 30px;
}

li, ul {
  margin-left: 30px;

}

h1 {
  /* On veut mettre un cadre coloré au titre. */
  border-color: rgb(40, 200, 100);
  /* Par défaut, le cadre est invisible ; on le rend visible. */
  border-style: solid;
  /* On centre le texte dans le cadre. */
  text-align: center;

  margin: auto;

  width: 80%;
  
  max-width: calc(100% - 40px);

}

#selector a {
  color: red;
}

#selector a[href*="http"] {
  color: green;
}

#selector a[href*="mail"] {
  color: cyan;
}

h2:hover {
  color: blue;
}

h1:hover {
  color: red;
}

p :hover {
  color: green;
}

blockquote::before {
  content: '"';
  color: blueviolet;
}

blockquote::after {
  content: '"';
  color: blueviolet;
}

blockquote {
  background-color: cadetblue;
}

h2 {
  margin-top: 30px;
}

#avatar {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 10px 10px;  
}

.bulle {
    opacity: 0;
    position: absolute;
    padding: 10px;
    border-radius: 10px;

}

.bulle:hover {
    opacity: 1;
}

.bulle:has(+ #avatar:hover) {
  opacity: 1; 
}