p {
  color: blue;
  background-color: #fcf9d9;
}

h1 {
  /* On veut mettre un cadre coloré au titre. */
  border-color: rgb(40, 200, 100);
  /* Par défaut, le cadre est invisible ; on le rend visible. */
  border-style: solid;
  /* On centre le texte dans le cadre. */
  text-align: center;
}

#selector a[target="_blank"] {
  color: red;
}

#selector a[target="_self"] {
  color: green;
}

#selector a[href*="mail"] {
  color: cyan;
}

h1:hover {
  color: red;
}

p :hover {
  color: green;
}

blockquote::before {
  content: '"';
  color: blueviolet;
}

blockquote::after {
  content: '"';
  color: blueviolet;
}

blockquote {
  background-color: cadetblue;
}