header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 30px;
}

nav>ul>li::before {
    content: "\2630";
}
nav>ul>li+li::before {
    content: "\1F50E ";
}
nav>ul>li+li+li::before{
    content: "\1F464 ";
}

input[type="checkbox"]~ul {
    display: none;
}

body {
    display: grid;
    grid-template-areas:"header header header"
                        "main   main    aside"
                        "main   main    aside2"
                        "main   main    aside3"
                        "footer footer  footer";

    background-color: black;
    color: aliceblue;
    height: 100vh;
    margin: 0;
}

a {
    color: aliceblue;
    text-decoration: none;
}

p {
    font-size: 20px;
}

figure {
    font-size: 30px;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(../img/fond.jpg);
    background-size: cover;
    color: black;
    background-repeat: no-repeat;      
}



main>h1 {
    font-size: 40px;
}

main>h1>strong {
    display: block;
    font-size: 80px;
    font-family: Lobster;
}

main>section>ul {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 60px;
    justify-content: space-around;

    list-style: none;
}

main section ul {
    list-style: none;
}

section>h2 {
    display: none;
}

main>section>ul>li + li>ul>li{
    list-style: none;
}

li>div {
    font-size: 30px;
}

main>section>ul>li+li div {
    margin-left: -20px;
}

main>section>ul>li {
    display: flex;
    flex-direction: row;
    background-image: url(../img/laurier-gauche.svg),url(../img/laurier-droite.svg);
    background-repeat: no-repeat;
    background-size: 60px;
    text-align: center;

    background-position: left, right;
    padding-left: 45px;
    padding-right: 65px;
}

main>section+section h2 {
    display: none;
}

main>section+section {
    text-align: left;
}

main>section>figure>figcaption {
    font-family: Caveat;
}

main>section+section>figure {
    width: 30%;
    height: 30%;
}

main>section+section>figure+figure {
    width: 45%;
}

main>section+section blockquote {
    font-family: Caveat;
    font-weight: normal;
    font-size: 30px;
}

section+section{
    margin-top: -20px;
}

section>figure {
    background-color: rgb(90, 90, 90, 0.5);
    padding: 10px;
    width: 60%;
    border-style: none dotted;
}
figure>figcaption {
    text-align: right;
    font-family: Lobster;
}

aside {
    display: flex;
    flex-direction: column;
    float: right;
    background-color: #243C4A;
    color: aliceblue;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

aside h2 {
    font-family: Maven Pro;
    font-size: 35px;

}

aside a{
    text-decoration: none;
    color: aliceblue;
}

aside ul{
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

aside li {
    font-size: 25px;
    margin-top: 15px;
}

body>aside {
    grid-area: aside2;

}

body>aside + aside{
    grid-area: aside3;
    background-color: #192633;

}
body>aside + aside + aside{
    grid-area: aside;
}

aside > figcaption {
    border-style: none;
    font-family: Caveat;
}

aside>figure>figcaption {
    font-family: Caveat;
    font-size: 30px;
}

aside img {
    border-radius: 5px;
}

aside figcaption {
    margin-top: 10px;
    text-align: center;

}


footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    font-size: 30px;
}
