nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

header {
    grid-area: header;
}
nav>ul>li>ul {
    display: none;

}

body {
    display: grid;
    grid-template-areas:"header header header"
                        "main   main    aside"
                        "main   main    aside2"
                        "main   main    aside3"
                        "footer footer  footer";

    background-color: black;
    color: aliceblue;
}

a {
    color: aliceblue;
    text-decoration: none;

}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(../img/fond.jpg);
    background-size: 1280px 720px;
    color: black;
}



main>h1 {
    font-size: 20px;
}

main>h1>strong {
    display: block;
    font-size: 40px;
}

main>section>ul {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 60px;    justify-content: space-around;

    list-style: none;
}

main>section>ul {
    list-style: none;
}


main>section>ul>li + li>ul>li{
    list-style: none;
}

main>section>ul>li {
    display: flex;
    flex-direction: row;

    background-image: url(../img/laurier-gauche.svg),url(../img/laurier-droite.svg);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: left, right;
    padding-left: 40px;
    padding-right: 50px;
}

main>section+section h2 {
    display: none;
}

main>section+section {
    text-align: left;
}

figure {
    background-color: rgb(90, 90, 90, 0.5);
    padding: 10px;
    width: 60%;
    border-style: dotted;
}
figure>figcaption {
    text-align: right;
}

aside {
    float: right;
    background-color: #243C4A;
    color: aliceblue;
    list-style: none;
    text-decoration: none;
    text-align: center;
}


aside a{
    text-decoration: none;
    color: aliceblue;
}

aside li{
    list-style: none;
}

body>aside {
    grid-area: aside2;

}

body>aside + aside{
    grid-area: aside3;
    background-color: #192633;

}
body>aside + aside + aside{
    grid-area: aside;
}

aside > figcaption {
    border-style: none;
}


footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}