
label:hover {
    cursor: pointer;
}

input[type="checkbox"]  {
    display: none;
}


input[type="checkbox"]:checked~ul>li  {
    padding: 20px;
    text-align: center;
}


input[type="checkbox"]~ul>li:hover {
    background-color:#243C4A;

}

input[type="checkbox"]:checked~ul  {
    margin-left: -80px;
    padding: 0;
    padding-top: 30px;

    display: flex;
    background-color:black;
    flex-direction: column;
    position: absolute;
    list-style: none;
    gap: 30px;
    z-index: 0;
    width: 400px;
    height: 100vh;
}

