* {
  box-sizing: border-box;
}

h1 {
  border: 2px red 4px yellow;
}

img[src*="bird"] {
  clip-path: xywh(0 5px 100% 75% round 15% 0);
}

img[src*="lifeo"] {
  width: 30%;
  margin-left: 10px;
  border-radius: 10px;
}



@media (max-width: 660px) {
  section,
  main,
  img,
  h1 {
    width: 90vw;
  }

}
