* {
 box-sizing: border-box;
}

main {
    width: 80%;
    min-width: 500px;
    max-width: 1000%;
}

h1 {
 border: 2px red 4px yellow; 
}


img[src*="bird"] {
    clip-path: xywh(0 5px 100% 75% round 15% 0);
}

img[src*="lifeo"] {
    width: 30%;
    margin-left: 10px;
    border-radius: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav {
    text-align: start;

}

nav a {
    background-color: rgb(0, 132, 255);
    padding: 30px;
    border-radius: 0 5px 15px 5px;
}

nav div,li{
    text-decoration: none;
    display: inline-block;
}

nav li:last-child a {
    background-color: rgb(255, 179, 0);
}

nav li:hover .bulle {
    opacity: 1;
}


.submenu {
    font-size: 20px;
}

.submenu li {
   display: block;
   margin: 0;
   margin-top: 10px;
   padding: 5px;

}

.submenu {
   background-color: rgb(0, 132, 255);
   margin-top: 30px;

}

.submenu li:hover {
   color: aliceblue;
   border-radius: 10px;
   background-color: rgb(0, 86, 166);

}

nav li  {
    margin-left: 0px;
}

main {
    margin-top: 40px;
}