* {
 box-sizing: border-box;
}

main {
    width: 80%;
    min-width: 500px;
    max-width: 1000%;
}

h1 {
 border: 2px red 4px yellow; 
}


img[src*="bird"] {
    clip-path: xywh(0 5px 100% 75% round 15% 0);
}

img[src*="lifeo"] {
    width: 30%;
    margin-left: 10px;
    border-radius: 10px;
}

nav {
    text-align: end;
}

nav a {
    background-color: rgb(0, 132, 255);
    padding: 30px;
    border-radius: 0 5px 15px 5px;
}

nav a:hover {
    padding: 35px;
}

nav:last-child {
    background-color: rgb(255, 179, 0);
}