
form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    width: 20%;
    align-items: left;
    font-size: 30px;
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

label::first-letter {
    color: blue;
}

fieldset {
    border: none;
    width: 90%;
}



.require::after {
    content: "  (*)";
    color: darkgrey;
}

p {
    display: inline;
}



input,textarea {
    width: 90%;
    font-size: 25px;
    height: 30px;
    border-width: 0px;
    border-color: gray none none gray;
}

textarea {
    height: 100px;
}

input[type="range"] {
    width: 80%;
    
    align-self: center;
}

input[type="submit"] {
    background-color: #8baff2;
    border-width: 0px;
    border-radius: 7px;
    align-self: center;
    width: 70%;
    height: 40px;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
    box-shadow: darkgray 1px 1px ;
}

.textinput {
    border-radius: 5px;
    background-color: lightgray;
}