
#commentaires .comment {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    width: 20%;
    align-items: left;
    font-size: 30px;
}


#commentaires label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#commentaires label::first-letter {
    color: blue;
}

#commentaires fieldset {
    border: none;
    width: 90%;
}



#commentaires .require::after {
    content: "  (*)";
    color: darkgrey;
}

#commentaires p {
    display: inline;
}



#commentaires input,textarea {
    width: 90%;
    font-size: 25px;
    height: 30px;
    border-width: 0px;
    border-color: gray none none gray;
}

textarea {
    height: 100px;
}

input[type="range"] {
    width: 80%;
    
    align-self: center;
}

input[type="submit"] {
    background-color: #8baff2;
    border-width: 0px;
    border-radius: 7px;
    align-self: center;
    width: 70%;
    height: 40px;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
    box-shadow: darkgray 1px 1px ;
}

.textinput {
    border-radius: 5px;
    background-color: lightgray;
}

#reservation {
    margin-top: 50px;
    margin-bottom: 50px;
}

#reservation fieldset {
    border: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

#reservation label {
    width: 5%;
}

#reservation input {
    border-radius: 7px;
    width: 10%;
    height: 30px;
    border: none;
}

#reservation input:invalid {
    background-color: lightcoral;
}

#reservation input:valid {
    background-color: white;
}



#reservation input:invalid~.valide {
    display: none;
}
#reservation input:valid~.valide {
    display: inline;
}

#reservation input:invalid~.invalide {
    display: inline;
}
#reservation input:valid~.invalide {
    display: none;
}

.invalide,.valide {
    margin: 0;
    font-size: 20px;
    margin-left: 40px;
}

#reservation input[type="submit"] {
    background-color: rgb(131, 121, 240);
    cursor: not-allowed;
}

#reservation form:valid input[type="submit"] {
    background-color: #0800ff;
    cursor: pointer;
}